<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      Send email to start a game.<br>
      To: demo@<%= @parse_host %><br>
      Subject: The email address of the opponent player.
      <form id="param" class="form-horizontal">

        <div class="form-group">
          <div class="col-md-12">
            <label class="control-label"><span class="text-danger">*</span>Opponent player</label>
          </div>
          <div class="col-md-12">
            <input type="text" id="subject" name="subject" class="form-control"
              placeholder="player2@address.com" />
            <input type="hidden" id="to" value="demo@<%= @parse_host %>"/>
          </div>
        </div>

      </form>

      <button id="start" class="btn btn-primary center-block">Start</button>

    </div>

  </div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/game.js"></script>
